<%- include('common/header.ejs') %>
  
  <div class="container empty-background">
    <nav class="nav">
      <p class="title">용계역 여행</p>
      <div class="sub-title">유저페이지</div>
    </nav>
    <div class="content-container">
      <div class="introduce-title-wrap">
        <a href="/login">로그인하기</a>
      </div>
    </div>
  </div>

  <%- include('common/footer.ejs') %>
  </body>
</html>